// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
/*Colores*/
$colors: (
	green: #16a085,
	gray: #5a6576,
	gray-dark: #e7ecee,
	blue: #058cc5,
	red: #d2527f,
	blue-light: #3498dd,
	white: white,
	teal: #009688
);

@each $color, $value in $colors {
	.#{$color} {
		background-color: $value;
	}
	.#{$color}-text {
		color: $value;
	}
}

/*Text*/
.bold {
	font-weight: bold; 
}
/*Paddings*/
.large-padding {
	padding: 5px 10px;
}
.big-padding {
	padding: 2em;
}
.no-padding {
	padding: 0;
}
/*Margins*/
.no-margin {
	margin: 0px;
}
.top-space {
	margin-top: 1em!important;
}
.bottom-space {
	margin-bottom: 2.3em!important;
}
/*Alineamientos*/
.in-top {
	vertical-align: top!important;
}
.absolute {
	position: absolute;
}
.no-float {
	float: none!important;
}
.center-block {
	margin: 0 auto;
}
.inline-block {
	float: none!important;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
/*Font Size*/
.small {
	font-size: 12px;
}
.normal {
	font-size: 1.2em;
}
.medium {
	font-size: 1.5em;
}
.big {
	font-size: 3em;
}
.bigger {
	font-size: 4em;
}
.ultra-big {
	font-size: 7em;
}